<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCz3qr5OqaXZvQUm9-489ByMtq6sDmMHFk</string>
	<key>GCM_SENDER_ID</key>
	<string>331546767774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baoAndFriends</string>
	<key>PROJECT_ID</key>
	<string>bao-and-friends</string>
	<key>STORAGE_BUCKET</key>
	<string>bao-and-friends.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331546767774:ios:7f82c70dc6570e17eca68f</string>
</dict>
</plist>